.navbar {
  width: 100%;
  background-color: #014055;
  color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #014055 !important;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.logo-text {
  margin-left: 0.5rem;
}
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1rem;
  transition: color 0.3s ease;
  
}
.nav-links a:hover {
  color: #00bcd4;
  
}
.language-switcher select {
  background-color: #014055;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.menu-toggle {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Show the hamburger button on small screens */
  .menu-toggle {
    display: block;
    position: absolute; /* position it as needed, e.g., top right */
    top: 1rem;
    right: 1rem;
    background: transparent;

  }

  /* Style for nav links to be hidden/shown on mobile */
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #014055;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    display: none; /* hidden by default on mobile */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .nav-links.show {
    display: flex; /* show when toggled */
  }
}